
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My Music - Add</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Upload Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
            <table>
      <tr><th>Album Art</th><th>Song Name</th><th>Artist</th><th>Duration</th></tr>
      {{#each records}}
        <tr>
          <td><img src="public/avatars/{{this.art}}" /></td>
          <td>{{this.name}}</td>
          <td>{{this.artist}}</td>
          <td>{{this.durationm}}:{{this.durations}}</td>
      </tr>
      {{/each}}
      </table>
          <form method="post" action="/mymusic/add" enctype="multipart/form-data">
              <p>
                  <label for"track">Mp3 file</label><br />
                  <input type="file" name="blabla" accept="image/*" />
              </p>
              
            </form>
		</main>

	</body>
</html>
