
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Details - {{track.name}} {{track.artist}}</title>
        <meta name="description" content="form to add new books">
        <meta name="author" content="lechevalij">
        <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
        <script type="module" src="{{host}}/main.js"></script>
    </head>
    <body>
        <header>
        <h1> {{track.name}} by {{track.artist}}</h1>
            <a href="/logout">Log out</a>
        </header>
        {{#if msg}}
        <aside>
            <p class="msg">{{msg}}</p>
        </aside>
        {{/if}}
        <main>
            <h4>Play {{track.name}} :</h4>
            <audio controls="true">
                <source src="https://orlando-road.codio-box.uk/public/data/{{track.mp3file}}" type="audio/mpeg" />
                Your browser does not support the audio tag.
              </audio>
        </main>
            <button class="back">Back</button>
    </body>
</html>
