
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My Music - Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>My Music Tracks</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
    <table>
      <tr><th>Album Art</th><th>Song Name</th><th>Artist</th><th>Duration</th></tr>
      {{#each records}}
        <tr>
          <td><figure><img src="/public/avatars/{{this.art}}" alt="album cover" /></figure></td>
          <td>{{this.name}}</td>
          <td>{{this.artist}}</td>
          <td>{{this.durationm}}:{{this.durations}}</td>
      </tr>
      {{/each}}
      </table>
            <audio controls="true">
                <source src="https://orlando-road.codio-box.uk/data/Bohemian.mp3" type="audio/mpeg" />
                <source src="https://orlando-road.codio-box.uk/data/Bohemian.ogg" type="audio/ogg">
                Your browser does not support the audio tag.
              </audio>
		</main>
        <a class="add" href="mymusic/add">Upload a new track</a>
	</body>
</html>
