
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My Music - Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>&#127925 My Music Tracks &#127925</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
            <h4>Click either on the title or the artist of the song you wish to listen to
                or know some details &#128071 :</h4>
            <br>
    <table>
      <tr><th>Album Art</th><th>Song Title</th><th>Artist</th><th>Duration</th></tr>
      {{#each records}}
        <tr>
          <td><img src="https://orlando-road.codio-box.uk/data/{{this.art}}" alt="album cover" /></td>
          <td><a href="/mymusic/details/{{this.id}}">{{this.name}}</a></td>
          <td><a href="/mymusic/details/{{this.id}}">{{this.artist}}</a></td>
          <td>{{this.duration}}</td>
      </tr>
      {{/each}}
      </table>

		</main>
        <a class="add" href="mymusic/add">Upload a new track</a>
	</body>
</html>